#form-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  width: 40rem;
}

h3 {
  text-align: center;
}

#form-container .mb {
  margin-bottom: 1rem;
}

#form-container .sm-input {
  width: 49%;
}

#form-container .lg-input {
  width: 100%;
}

#new-form {
  flex-direction: row;
  justify-content: space-between;
}
